<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>flask-task-manager</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename ='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/Footer-with-social-media-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/styles.css') }}">
</head>

<body>
    <script src="{{ url_for('static', filename ='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/alerts.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/task-actions.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/custom-elements.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/auth.js') }}"></script>

    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Flask Task</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Flash messages handling -->
        <div id="alert_placeholder">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        
                        <script>addAlert("{{ message }}", "{{ category }}");</script>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
