<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - flask-task-manager</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename ='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/Footer-with-social-media-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/styles.css') }}">
    {% endblock %}
</head>

<body>
    <script src="{{ url_for('static', filename ='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/alerts.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/task-actions.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/custom-elements.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/auth.js') }}"></script>

    {% include 'header.html' %}

    <div>
        {% include 'alerts.html' %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>
