<nav class="navbar navbar-expand-lg navbar-dark bg-primary header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Task Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if title == "about" %}active{% endif %}" aria-current="page" href="/about">About</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if title == "home" %}active{% endif %}" aria-current="page" href="#">Lists</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ current_user.name }}
                    </a>
                    
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="profile">Account</a></li>
                      <!--<li><a class="dropdown-item" href="#">Task lists</a></li>-->
                      <li><hr class="dropdown-divider"></li>
                      <li><a id="logout-link" class="dropdown-item" aria-current="page" href="">Logout</a></li>
                    </ul>
                    
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>