{% extends 'base.html' %}
{% block content %}

<nav class="subnavbar border-bottom navbar sticky-top d-flex mb-3 bg-white">
    <div class="container-xxl d-flex align-items-md-center">
        <div class="searchInput">
            <input type="text" id="searchInput" class="form-control" placeholder="Search tasks..." aria-label="Search">
        </div>
        <button type="button" class="ml-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTask">New Tasks</button>
    </div>
</nav>

<div class="content container">
    <table class="table navbar-light bg-light align-middle" id="taskList">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Created</th>
                <th scope="col">Task</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr id="task_{{ task.id }}" data-task-id="{{ task.id }}">
                <td class="task-check">
                    {% if task.completed %}
                        <done-task-button></done-task-button>
                    {% else %}
                        <todo-task-button></todo-task-button>
                    {% endif %}
                </td>
                <td class="task-date"><script>document.write((new Date('{{ task.date_created }}'+'Z')).toLocaleString().replace(/,/g, ''))</script></td>
                <td class="task-content">{{ task.content }}</td>
                <td class="task-actions">
                    <edit-task-button></edit-task-button>
                    <delete-task-button></delete-task-button>
                </td>
            </tr>
            {% endfor %}
            <h4 id="emptyListMessage">Task list is empty!</h4>
        </tbody>
    </table>

    <!-- Create New Task Modal -->
    <div class="modal fade" id="createTask" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">New Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="createTaskForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" name="content" id="content" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#createTask" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" value="Add Task" onclick="createTask()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Modal -->

    <!-- Edit Task Modal -->
    <div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Edit Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>            
                <form id="editTaskForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#editTask" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" value="Edit Task" onclick="updateTask()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Modal -->

    <script src="{{ url_for('static', filename ='js/modals.js') }}"></script>

</div>
{% endblock %}
